[submodule "plugin-lisp/neotree"]
	path = plugin-lisp/neotree
	url = https://github.com/jaypei/emacs-neotree.git
[submodule "plugin-lisp/imenu-anywhere"]
	path = plugin-lisp/imenu-anywhere
	url = https://github.com/vspinu/imenu-anywhere.git
[submodule "plugin-lisp/highlight-symbol"]
	path = plugin-lisp/highlight-symbol
	url = https://github.com/nschum/highlight-symbol.el.git
[submodule "plugin-lisp/nav-flash"]
	path = plugin-lisp/nav-flash
	url = https://github.com/rolandwalker/nav-flash.git
