[submodule "plugin-lisp/neotree"]
	path = plugin-lisp/neotree
	url = https://github.com/jaypei/emacs-neotree.git
[submodule "plugin-lisp/imenu-anywhere"]
	path = plugin-lisp/imenu-anywhere
	url = https://github.com/vspinu/imenu-anywhere.git
[submodule "plugin-lisp/highlight-symbol"]
	path = plugin-lisp/highlight-symbol
	url = https://github.com/nschum/highlight-symbol.el.git
[submodule "plugin-lisp/nav-flash"]
	path = plugin-lisp/nav-flash
	url = https://github.com/rolandwalker/nav-flash.git
[submodule "plugin-lisp/auto-complete"]
	path = plugin-lisp/auto-complete
	url = https://github.com/auto-complete/auto-complete.git
[submodule "plugin-lisp/popup"]
	path = plugin-lisp/popup
	url = https://github.com/auto-complete/popup-el.git
[submodule "plugin-lisp/magit"]
	path = plugin-lisp/magit
	url = https://github.com/magit/magit.git
[submodule "plugin-lisp/with-editor"]
	path = plugin-lisp/with-editor
	url = https://github.com/magit/with-editor.git
[submodule "plugin-lisp/dash"]
	path = plugin-lisp/dash
	url = https://github.com/magnars/dash.el.git
